body {
    margin: 1px;
}
nav, div {
    display: flex;
    background: #b0afaf;
}

nav {
    display: flex;
    align-items: center;
    font-family: 'Work Sans', serif;
    font-weight: bolder;
    font-size: .7em;
}


nav :nth-of-type(5){
    margin: auto;
    font-size: 3em;
    padding: 0 .2em;
    font-family: 'Montserrat', serif;
    font-weight: bolder;
}

a {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

img {
    width: 20px;
    height: 20px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #0050ff;
}













